In [1]:
import pandas as pd
from glob import  glob

pd.set_option('display.max_columns', None)

In [4]:
arquivo  = glob(r"../../2. Dados Recebidos/Base Campinas/Custo*_v2.csv")[0]

In [7]:
arquivo.split('_')[-2]

'Roles'

In [8]:
df = pd.DataFrame()
colunas = pd.read_csv(glob(r"../../2. Dados Recebidos/Base Campinas/Custo*_v2.csv")[0]).columns

for arquivo in glob(r"../../2. Dados Recebidos/Base Campinas/Custo*_v2.csv"):
    df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)
    df_temp['logomarca']= arquivo.split('_')[-2]
    df = pd.concat([df, df_temp], ignore_index=True)

C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:2: DtypeWarning: Columns (11,12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  colunas = pd.read_csv(glob(r"../../2. Dados Recebidos/Base Campinas/Custo*_v2.csv")[0]).columns
C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:5: DtypeWarning: Columns (11,12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:5: DtypeWarning: Columns (11,12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:5: DtypeWarning: Columns (11,12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:5: DtypeWarning: Columns (12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)
C:\Users\bruno\AppData\Local\Temp\ipykernel_33920\2038319783.py:5: DtypeWarning: Columns (12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(arquivo, names=colunas, skiprows=1)

C:\Users\bruno\AppData\Local\Temp\ipykernel_36608\2521951305.py:1: DtypeWarning: Columns (11,12,13,14,21,22,25,35,36,54) have mixed types. Specify dtype option on import or set low_memory=False.
  colunas = pd.read_csv(glob(r"../../2. Dados Recebidos/Base Campinas/Custo*_v2.csv")[0]).columns

In [9]:
df.to_csv('../../2. Dados Recebidos/Base Campinas/Custo_Campinas_Completo_v2.csv', index=False)

In [1]:
import pandas as pd

df = pd.read_parquet('../../2. Dados Recebidos/Base Campinas/base_nova_vendas_comolatti_2025.parquet')

In [2]:
df.columns

Index(['data_movto', 'anomes', 'id_empresa', 'id_filial', 'id_filial_fat',
       'id_logo', 'nota_fiscal', 'seq_nf', 'documento_cliente', 'nome_cliente',
       'uf_cliente', 'segmento', 'canal_origem', 'id_funcionario',
       'cod_produto', 'descricao', 'cod_fabricante', 'marca', 'cat_produto',
       'cod_grupo', 'fornecedor', 'grupo_fornecedor', 'vlr_bruto',
       'vlr_devolucao', 'vlr_si', 'vlr_custo', 'vlr_sem_custo', 'vlr_liquido',
       'lb_real', 'qtde_pecas', 'id_tipo_pagamento', 'tipo_pagamento',
       'id_tipo_frete', 'tipo_frete'],
      dtype='object')

In [ ]:
df = df[(df['id_filial']==9) & (df['vlr_bruto']!=0) & (df['vlr_liquido']>0)]
df['nf_completa'] = df['nota_fiscal'].astype(str) + df['seq_nf'].astype(str)

,data_movto,anomes,id_empresa,id_filial,id_filial_fat,id_logo,nota_fiscal,seq_nf,documento_cliente,nome_cliente,...,vlr_custo,vlr_sem_custo,vlr_liquido,lb_real,qtde_pecas,id_tipo_pagamento,tipo_pagamento,id_tipo_frete,tipo_frete,nf_completa
211,2025-01-09,2025-01,82,9,44,34,46756,185853,17143304000372,JK TML AUTOPECAS LTDA,...,103.41,24.21,129.06,24.482682,9,1,BOLETO,C,CIF,46756185853
224,2025-01-09,2025-01,82,9,29,34,49982,133511,20949220000173,WMC AUTO E SERVICOS LIMITADA,...,16.92,4.35,23.44,4.793480,1,1,BOLETO,R,RETIRA,49982133511
347,2025-01-03,2025-01,82,9,9,34,42376,115542,00647879000168,PNEULINHARES COMERCIO DE PNEUS LTDA,...,25.52,7.78,36.70,8.573120,2,1,BOLETO,N,NOSSO CARRO,42376115542
376,2025-01-03,2025-01,82,9,29,34,49223,172417,60892858001101,ACCIOLY IMP. E COM. DE AUTO PECAS LTDA,...,680.74,45.72,726.46,45.694334,1,1,BOLETO,C,CIF,49223172417
400,2025-01-02,2025-01,82,9,64,34,1660,171406,04620952000169,ROBERTO RODRIGUES DE LIMA BERTIOGA,...,22.53,6.24,31.71,6.874728,3,1,BOLETO,N,NOSSO CARRO,1660171406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21002585,2025-10-30,2025-10,82,9,29,34,89043,172653,14927101000117,MARANATA PECAS E SERVICOS LTDA,...,62.58,8.76,90.58,11.114166,2,1,BOLETO,C,CIF,89043172653
21002605,2025-10-28,2025-10,82,9,44,34,90265,153347,12815926000114,W.M. DE OLIVEIRA MOTOS,...,106.17,52.86,177.39,58.946697,3,1,BOLETO,C,CIF,90265153347
21002711,2025-10-28,2025-10,82,9,11,34,146105,171705,32781779000116,J.I.E. - DISTRIBUIDORA DE AUTO PECAS LTD,...,155.62,13.32,175.98,13.867224,1,1,BOLETO,C,CIF,146105171705
21002720,2025-10-29,2025-10,82,9,9,34,76852,130226,13958849000114,PE NA TABUA AUTO PECAS LTDA ME,...,136.52,96.24,256.48,106.028832,2,1,BOLETO,C,CIF,76852130226
21002748,2025-10-28,2025-10,82,9,44,34,90126,94234,21978996000184,PLANET VANS COMERCIO DE AUTO PECAS LTDA,...,1464.60,420.42,1905.96,425.029080,6,1,BOLETO,C,CIF,9012694234

In [6]:
df[['nota_fiscal', 'seq_nf', 'nf_completa']].head(2)

     nota_fiscal  seq_nf  nf_completa
211        46756  185853  46756185853
224        49982  133511  49982133511

In [4]:
df.to_parquet('../../2. Dados Recebidos/Base Campinas/base_nova_vendas_comolatti_2025_filtrada.parquet', index=False)